/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #34495e;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #dcdcdc;
}

.text-center {
    text-align: center;
}
