@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    height: 100vh;
    font-size: 2em;
    font-family: "Poppins" , sans-serif;
}
div{
    width:60%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.61);
    padding: 6% 10%;
}
